.catalog {
	position: relative;
	min-width: 320px;
	max-width: 1440px;
	
	padding: 0 20px;
	margin: 0 auto;
}

@media (max-width: $mobile-width-only) {
	.catalog__products {
		display: grid;
		grid-template-columns: 280px;
		grid-template-rows: auto;

		width: 280px;
		margin: 0 auto;
	}

	.catalog__main-title {
		margin: 0;
		padding: 30px 0;

		text-align: center;

		border-bottom: 1px solid #C0C0C0;
	}

	.catalog__show-more {
		position: relative;
		display: block;
		padding: 60px 0 20px 0;
		margin: 0;

		background-color: #ffffff;
	}
}

@media (min-width: $tablet-width) {
	.catalog {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;

		padding: 0 30px;
	}

	.catalog__products {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;

		margin: 0 auto;
	}

	.catalog__main-title {
		font-size: 60px;
		line-height: 60px;

		margin-bottom: 100px;
	}

	.catalog__show-more {
		position: relative;
		bottom: -80px;
		width: 320px;
		height: 430px;

		padding: 50px 30px 38px 30px;

		border: 2px solid #F2F2F2;
		background: none;
		background-color: #ffffff;
	}

	.catalog__title {
		width: auto;
		margin: 0 auto;
		padding: 165px 5px 23px 5px;

		font-size: 20px;
		line-height: 22px;
	}

	.catalog__description {
		width: 177px;
		margin: 0 auto;
		margin-bottom: 87px;
		padding: 0 5px;

		font-size: 16px;
		line-height: 18px;
		text-align: center;
	}

	.catalog__button--gray {
		width: 100%;
		color: #000000;
	}	
}

@media (min-width: 1130px) {
	.catalog {
		margin: 0 auto;
		padding: 20px 110px;
	}

	.catalog__products {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;

		grid-gap: 60px 30px;
	}
}

@media (min-width: 1440px) {
	.catalog__products {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;

		grid-gap: 60px 75px;
	}
}
