.catalog__main-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 100%;

  text-align: left;
}

.catalog__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;
}

.catalog__description {
  font-family: $additional_font;
  font-weight: normal;
  font-size: 12px;
  line-height: 133%;
  color: $special_dark-gray;
  text-align: center;
}

.catalog {
  position: relative;
  min-width: 320px;
  max-width: 1220px;

  padding: 0;
  margin: 0 auto;
}

.catalog__show-more svg {
  position: absolute;
  top: 18px;
  left: 143px;
  width: 30px;
  height: 30px;
}

.catalog__button--gray {
  height: 40px;
  padding: 10px 0 10px 0;

  color: $basic_black;
  background-color: $basic_gray;

  &:hover,
  &:focus {
    background-color: $special_dark-gray-3;
    color: $basic_black;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $mobile-width-only) {
  .catalog__products {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: auto;

    width: 320px;
    margin: 0 auto;
  }

  .catalog__main-title {
    margin: 0;
    padding: 30px 20px 38px 20px;

    text-align: left;

    border-bottom: 1px solid $special_gray-3;
  }

  .catalog__show-more {
    position: relative;
    display: block;
    padding: 64px 20px 20px 20px;
    margin: 0;

    background-color: $basic_white;
  }

  .catalog__title {
    margin: 10px 0 10px 0;
    padding: 0;
  }

  .catalog__description {
    margin: 0;
    margin-bottom: 18px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    padding: 0 30px;
    margin-bottom: 60px;

    h2 {
      font-size: 60px;
      line-height: 60px;

      margin-top: 34px;
      margin-bottom: 76px;
    }
  }

  .catalog__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

    margin: 0 auto;
  }

  .catalog__show-more {
    position: relative;
    bottom: -88px;
    width: 320px;
    height: 420px;

    padding: 50px 30px 38px 30px;

    border: 2px solid $basic_gray;
    background: none;
    background-color: $basic_white;

    svg {
      top: 51px;
      left: 130px;
      width: 60px;
      height: 60px;
      fill: $basic_gray;
    }
  }

  .catalog__title {
    width: 70%;
    margin: 0 auto;
    padding: 165px 5px 23px 5px;

    font-size: 20px;
    line-height: 22px;
  }

  .catalog__description {
    width: 177px;
    margin: 0 auto;
    margin-bottom: 87px;
    padding: 0 5px;

    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .catalog__button--gray {
    width: 100%;
    color: $basic_black;
  }
}

@media (min-width: 1130px) {
  .catalog {
    margin: 0 auto;
    padding: 20px 30px;

    h2 {
      margin-top: 30px;
      margin-bottom: 63px;
    }
  }

  .catalog__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    grid-gap: 75px 30px;
  }

  .catalog__show-more {
    position: relative;
    bottom: -100px;
    width: 245px;
    height: 412px;

    padding: 50px 30px 38px 30px;
    padding-bottom: 28px;

    svg {
      left: 91px;
    }
  }

  .catalog__title {
    width: 100%;
  }
}

@media (min-width: 1220px) {
  .catalog__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 58px 55px;

    margin-bottom: 30px;
  }
}
