.catalog {
  position: relative;
  min-width: 320px;
  max-width: 1220px;

  padding: 0;
  margin: 0 auto;
}

.catalog__main-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 100%;

  text-align: left;
}

.catalog__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;
}

.catalog__description {
  font-family: $additional_font;
  font-weight: normal;
  font-size: 12px;
  line-height: 133%;
  color: $special_dark-gray;
  text-align: center;
}

.catalog__show-more svg {
  position: absolute;
  top: 26px;
  left: 145px;
  width: 30px;
  height: 30px;
  fill: #d3d3d3;
  color: #d3d3d3;
}

@media (max-width: $mobile-width-only) {
  .catalog__products {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: auto;

    width: 320px;
    margin: 0 auto;
  }

  .catalog__main-title {
    margin: 0;
    padding: 28px 20px 40px 20px;

    text-align: left;

    border-bottom: 1px solid $special_dark-gray-3;
  }

  .catalog__show-more {
    position: relative;
    display: block;
    padding: 68px 20px 24px 20px;
    margin: 0;

    background-color: $basic_white;

    a {
      width: 279px;
    }
  }

  .catalog__title {
    margin: 10px 0 9px 0;
    padding: 0;
  }

  .catalog__description {
    margin: 0;
    margin-bottom: 21px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    padding: 0 30px;
    margin-bottom: 57px;

    h2 {
      margin-top: 38px;
      margin-bottom: 82px;

      font-size: 60px;
      line-height: 60px;
    }
  }

  .catalog__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 58px;

    margin: 0 auto;
  }

  .catalog__show-more {
    position: relative;
    bottom: -86px;
    width: 323px;
    height: 427px;

    padding: 50px 34px 35px 34px;

    border: 2px solid $basic_gray;
    background: none;
    background-color: $basic_white;

    svg {
      top: 51px;
      left: 130px;
      width: 60px;
      height: 60px;
    }
  }

  .catalog__title {
    width: 70%;
    margin: 0 auto;
    padding: 195px 5px 23px 5px;

    font-size: 20px;
    line-height: 22px;
  }

  .catalog__description {
    width: 177px;
    margin: 0 auto;
    margin-bottom: 74px;
    padding: 0 5px;

    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .catalog__button--gray {
    width: 100%;
    color: $basic_black;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin: 0 auto;
    padding: 20px 0;

    h2 {
      margin-top: 28px;
      margin-left: 1px;
      margin-bottom: 57px;
    }
  }

  .catalog__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 80px;
    grid-row-gap: 33px;
    margin-bottom: 30px;
  }

  .catalog__show-more {
    position: relative;
    bottom: -110px;
    height: 430px;

    padding-top: 50px;

    svg {
      left: 91px;
    }
  }

  .catalog__title {
    width: 100%;
  }

  .catalog__description {
    margin-bottom: 72px;
  }
}
