.contacts {
	position: relative;
	padding: 0;
	margin: 0 auto;
	max-width: 1440px;
	min-width: 320px;
	border: 1px solid red;
}

.contacts__map {
	width: 100%;
}

.contacts--gray {
	background-color: $basic_gray;
}

@media (max-width: $mobile-width-only) {
	.contacts__text-info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 20px;

		padding: 20px;
	}
}

@media (min-width: $tablet-width) {
	.contacts__text-info {
		display: flex;
		justify-content: space-between;

		padding: 0 70px;
	}

	.contacts__lead {
		width: 171px;

		font-size: 20px;
		line-height: 21px;
	}

	.contacts__address {
		width: 159px;

		font-size: 16px;
		line-height: 20px;
	}
}

@media (min-width: $desktop-width) {
	.contacts__text-info {
		position: absolute;
		top: 100px;
		left: 110px;
		width: 500px;
		margin: 0;
		padding: 20px 40px;
		
		background-color: #ffffff;
	}
}
