.contacts__lead {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $additional_font;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  color: $special_dark-gray;
}

.contacts {
  background-image: url("../../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts {
    background-image: url("../../img/bg-map-mobile@2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.contacts__wrapper-inner {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
}

.contacts__map-wrapepr {
  position: relative;
  min-width: 320px;
  height: 362px;
}

.contacts__map {
  width: 100%;
  height: 100%;

  outline: none;
  border: none;
}

.contacts .contacts__text-info--gray {
  background-color: $basic_gray;
}

.contacts__text-info {
  background-color: $basic_white;
}

@media (max-width: $mobile-width-only) {
  .contacts__text-info {
    display: grid;
    grid-template-columns: auto 140px;
    grid-template-rows: 100px;

    padding: 13px 20px 0 20px;

    p {
      width: 140px;
    }
  }

  .contacts__address {
    margin-top: 15px;
    padding: 0;

    p {
      margin: 0;
      padding-bottom: 1px;
    }
  }

  .contacts__map-wrapepr::after {
    position: absolute;
    z-index: 3;
    top: 39%;
    left: 41%;

    content: "";
    width: 57px;
    height: 53px;

    background-image: url("../../img/map-pin.png");
    background-size: 57px 53px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    background-image: url("../../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts {
      background-image: url("../../img/bg-map-tablet@2x.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .contacts__text-info {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 48px 70px 40px 70px;

    p {
      width: 160px;
      margin: 17px 0 19px 0;
      padding: 0 2px 0 0;
    }
  }

  .contacts__map-wrapepr {
    height: 400px;

    &::after {
      position: absolute;
      z-index: 3;
      top: 146px;
      left: 42%;

      content: "";
      width: 113px;
      height: 106px;

      background-image: url("../../img/map-pin.png");
      background-size: 120px 106px;
    }
  }

  .contacts__lead {
    width: 171px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 159px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding: 0;
    background-image: url("../../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts {
      background-image: url("img/bg-map-desktop@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .contacts__map-wrapepr::after {
    position: absolute;
    z-index: 3;
    top: 132px;
    left: 62.5%;
  }

  .contacts__text-info {
    position: absolute;
    z-index: 1;
    top: 98px;
    left: 0;
    width: 570px;
    margin: 0;
    padding: 46px 85px 45px 76px;

    p {
      text-align: left;
    }
  }

  .contacts .contacts__text-info--gray {
    background-color: #ffffff;
  }
}
