.example {
  background-color: $special_gray;
}

.example__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 111%;
}

.example__achievement dt {
  font-family: $basic_font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__wrapper {
  position: relative;
  padding: 26px 20px 50px 20px;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;

  h2 {
    margin: 0 0 35px 0;
  }
}

.example__description {
  min-width: 270px;
  padding-right: 10px;
  margin: 0;
  margin-bottom: 25px;

  font-family: $additional_font;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-gray;
}

.example__achievement {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-rows: 1fr;
  grid-column-gap: 32px;

  width: 100%;
  margin: 0 auto 15px auto;

  dd {
    position: absolute;
    bottom: -17px;
    left: 24px;
    width: 70px;
    margin: 0;
    padding: 0;

    font-family: $additional_font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    text-align: center;
    color: $special_dark-gray;

    background-color: $special_gray;
  }
}

.example__column {
  position: relative;
  margin: 0;
  padding: 13px 10px;
  min-width: 124px;
  min-height: 56px;

  text-align: center;

  border: 1px solid $special_gray-1;
  border-radius: 5px;

  &-right dd {
    left: 25px;
  }
}

.example__food-cost {
  display: flex;
  justify-content: center;

  width: 280px;
  padding: 6px;
  margin: 0 auto 13px auto;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  text-transform: uppercase;

  p:first-child {
    padding-right: 3px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    padding-bottom: 46px;
    background: linear-gradient(to top, $special_gray 43%, $basic_white 40%);

    h2 {
      padding: 0 20px 20px 0;
      margin-top: 26px;

      font-size: 60px;
      line-height: 60px;
    }
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 32px;

    padding: 16px 30px 0 30px;
  }

  .example__description {
    min-height: 84px;
    padding: 10px 20px 0 0;
    margin: 0 0 50px 0;

    font-size: 16px;
    line-height: 24px;
  }

  .example__achievement {
    display: grid;
    grid-template-columns: 162px 162px;
    grid-template-rows: 1fr;
    grid-column-gap: 42px;

    margin-bottom: 10px;

    dt {
      margin-top: 2px;
      margin-bottom: 7px;
      font-size: 30px;
      line-height: 37px;
    }

    dd {
      bottom: -6px;
      left: 23px;
      width: 113px;
      padding: 0;
      margin: 0;

      font-size: 14px;
      line-height: 14px;

      background-color: $basic_white;
    }
  }

  .example__column-right dd {
    width: 136px;
    left: 12px;
  }

  .example__food-cost {
    position: absolute;
    top: 297px;
    right: 22px;
    flex-direction: column;
    align-items: flex-end;

    width: auto;

    font-size: 20px;
    line-height: 20px;


    p {
      margin: 0;
      margin-bottom: 10px;
    }

    .example__second-par {
      padding-right: 1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    max-height: 656px;
    margin: 0;

    background: linear-gradient(to top, $basic_gray 72.4%, $basic_white 50%);
  }

  .example__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 110px;

    padding: 0;

    h2 {
      margin: 39px 0 118px 2px;
    }
  }

  .example__description {
    width: 452px;
    margin-bottom: 68px;
  }

  .example__achievement {
    margin-bottom: 10px;

    dt {
      margin-top: 0;
      margin-bottom: 7px;
    }

    dd {
      bottom: -5px;
      background-color: $basic_gray;
    }
  }

  .example__column-right dd {
    left: 12px;
  }

  .example__food-cost {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    margin: 54px 0 0 -5px;
    width: 339px;

    text-align: left;
  }
}
