.example__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 111%;
}

.example__achievement dt {
  font-family: $basic_font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example {
  background-color: $special_gray;
}

.example__range-wrapper {
  display: none;
}

.example__wrapper {
  position: relative;
  padding: 26px 20px 50px 20px;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;

  h2 {
    margin: 0;
    margin-bottom: 35px;
  }
}

.example__description {
  min-width: 270px;
  padding-right: 10px;
  margin: 0;
  margin-bottom: 25px;

  font-family: $additional_font;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-gray;
}

.example__achievement {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-rows: auto;
  grid-column-gap: 32px;

  width: 100%;
  margin: 0 auto 16px auto;
  padding: 0;

  dd {
    position: absolute;
    bottom: -18px;
    left: 24px;
    width: 70px;
    margin: 0;
    padding: 0;

    font-family: $additional_font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    text-align: center;
    color: $special_dark-gray;

    background-color: $special_gray;
  }
}

.example__column {
  position: relative;
  margin: 0;
  padding: 14px 10px;
  min-width: 124px;

  text-align: center;

  border: 1px solid $special_gray-1;
  border-radius: 5px;

  &-right dd {
    left: 25px;
  }
}

.example__food-cost {
  display: flex;
  justify-content: center;

  width: 280px;
  padding: 6px;
  margin: 0 auto 14px auto;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  text-transform: uppercase;

  p:first-child {
    padding-right: 3px;
  }
}

.example__slider-description {
  position: relative;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  width: 196px;
  margin: 0;
  margin-left: 44px;

  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to top, $basic_gray 43%, $basic_white 40%);

    h2 {
      padding: 0 20px 20px 0;
      margin-top: 26px;

      font-size: 60px;
      line-height: 60px;
    }
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 32px;

    padding: 16px 30px 0 30px;
  }

  .example__description {
    min-height: 84px;
    padding: 10px 20px 0 0;
    margin: 0 0 51px 0;

    font-size: 16px;
    line-height: 24px;
  }

  .example__slider-description {
    position: relative;
    bottom: 22px;
    left: 0;

    display: flex;
    justify-content: space-between;
    width: 570px;
    margin: 0 auto;

    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .example__slider-btn {
    position: relative;
    z-index: 3;

    border-bottom: 2px dotted $special_gray-3;

    cursor: pointer;
    user-select: none;

    &:hover {
      border-bottom-style: solid;
    }

    &:active {
      border-bottom: none;
    }
  }

  .example__achievement {
    display: grid;
    grid-template-columns: 162px 162px;
    grid-template-rows: 72px;
    grid-column-gap: 42px;

    margin-bottom: 10px;

    dt {
      font-size: 30px;
      line-height: 37px;
    }

    dd {
      bottom: -6px;
      left: 23px;
      width: 113px;
      padding: 0;
      margin: 0;

      font-size: 14px;
      line-height: 14px;

      background-color: $basic_white;
    }
  }

  .example__column-right dd {
    width: 136px;
    left: 15px;
  }

  .example__food-cost {
    position: absolute;
    top: 297px;
    right: 22px;
    flex-direction: column;
    align-items: flex-end;

    width: auto;

    font-size: 20px;
    line-height: 20px;


    p {
      margin: 0;
      margin-bottom: 10px;
    }

    .example__second-par {
      padding-right: 2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    max-height: 656px;
    margin: 0;

    background: linear-gradient(to top, $basic_gray 72.4%, $basic_white 50%);
  }

  .example__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 120px;

    padding: 0;

    h2 {
      margin: 39px 0 118px 2px;
    }
  }

  .example__description {
    width: 452px;
    margin-bottom: 68px;
  }

  .example__food-cost {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    margin: 54px 0 0 -5px;
    width: 339px;

    text-align: left;
  }

  .example__achievement dd {
    background-color: $basic_gray;
  }

  .example__slider {
    position: relative;
  }

  .example__slider-description {
    top: -18px;
    left: 17px;
  }
}

// Слайдер

.example__slider {
  margin: 0 auto 48px auto;

  text-align: center;
}

.example__slider input {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .example__slider {
    width: 320px;
    height: 232px;
  }

  .example__item-cat {
    display: none;
  }

  .example__slider img {
    width: auto;
    height: auto;
  }

  .example__slider-input1:checked ~ .slides .slides__wrapper {
    margin-left: -20px;
  }

  .example__slider-input2:checked ~ .slides .slides__wrapper {
    margin-left: -110%;
  }

  .overflow {
    overflow: hidden;
  }

  .slides__wrapper {
    width: 500%;
  }

  .slides__item {
    width: 20%;
    float: left;
  }

  .active {
    position: relative;
    z-index: 3;

    width: 83px;
    height: 14px;
    margin-top: 29px;
    margin-left: 100px;

    background-color: $basic_white;
    border: 1px solid $special_gray-1;
    border-radius: 15px;
  }

  .active__dots {
    border-radius: 5px;
    display: inline-block;
    width: 36px;
    height: 6px;
    background-color: transparent;

    cursor: pointer;

    &:nth-child(1) {
      position: absolute;
      top: 3px;
      left: 3px;
    }

    &:nth-child(2) {
      position: absolute;
      top: 3px;
      right: 3px;
    }
  }

  .example__slider-input1:checked ~ .active label:nth-child(1),
  .example__slider-input2:checked ~ .active label:nth-child(2) {
    background: $basic_green;
    border-color: $special_gray-1;
  }
}

@media (min-width: $tablet-width) {
  .example__slider-comparsion {
    position: relative;
    display: block;
    width: 708px;
    height: 545px;
    margin: 44px auto 8px auto;
  }

  .example__slider-comparsion img {
    display: block;
    width: auto;
    height: auto;
    margin-left: 16px;
  }

  .slides__item--hidden {
    display: none;
  }

  .example__item-cat {
    position: absolute;
    top: 1px;
    left: 0;

    display: block;
    width: 50%;
    height: 517px;

    overflow: hidden;
    background: linear-gradient(to top, $basic_gray 68%, $basic_white 56%);
  }

  .example__range-wrapper {
    position: relative;
    left: -10px;
    display: block;
    width: 428px;
    height: 6px;
    margin: 28px 150px;

    background-color: #dcdcdc;
    border-radius: 5px;
  }

  .example__range {
    position: absolute;
    z-index: 4;
    content: "";
    top: -15px;
    left: 48%;

    width: 34px;
    height: 34px;
    margin: 0;

    background: $basic_white;

    border: 1px solid $special_dark-gray-3;
    border-radius: 50%;
    box-shadow: 0 1px 4px 1px $special_dark-gray-3;

    cursor: move;

    &:hover {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    }

    &:active {
      border-color: $basic_green;
      box-shadow: 0 1px 7px 1px $special_dark-gray-3;
    }

    &::after {
      position: absolute;
      content: "";
      top: 13px;
      left: 12px;
      width: 8px;
      height: 8px;

      background-color: $basic_green;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .example__slider-comparsion {
    top: -16px;
    width: 690px;
    margin: 0;
    margin-bottom: 10px;
  }

  .example__item-cat {
    width: 50%;
    background: linear-gradient(to top, $basic_gray 63.2%, $basic_white 50%);
  }

  .example__slider-comparsion img {
    display: block;
    width: auto;
    height: 517px;
    margin: 0;
    margin-bottom: 49px;
  }

  .example__range-wrapper {
    top: 0;
    left: 2px;
  }
}

// Анимация слайдера

.slides__wrapper {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
