.explanation {
  max-width: 1440px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  h2 {
    margin-top: 2px;
    margin-bottom: 40px;
  }
}

.explanation__list {
  display: block;
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 47px;

  li {
    position: relative;
    margin-bottom: 26px;
    padding: 0;
    max-width: 280px;

    counter-increment: list-counter;
  }
}

@media (max-width: $mobile-width-only) {
  .explanation__description {
    max-width: 280px;
    padding: 0;
    margin: 0;
    margin-left: 80px;

    text-align: left;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 60px;
      height: 60px;
      background-color: $basic_green;
      z-index: 1;
    }
  }
}

.explanation__description--folia::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: 0 0;
  z-index: 3;
}

.explanation__description--water::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-powder@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 3;
}

.explanation__description--eat::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-dining@1x.png");
  background-position: 0 0;
  z-index: 3;
}

.explanation__description--time::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  background-image: url("../img/advantage-clock@1x.png");
  background-position: 0 0;
  z-index: 3;
}

@media (min-width: $tablet-width) {
  .explanation {
    padding: 30px 30px 0 30px;
    border-bottom: 1px solid $special_dark-gray-3;

    h2 {
      margin-top: 15px;
      margin-bottom: 60px;

      font-size: 60px;
      line-height: 60px;
    }

    li {
      max-width: 250px;
      min-height: 280px;
      padding: 0;
      margin-bottom: 40px;
    }
  }

  .explanation__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 0;

    width: 708px;
    margin: 0 auto;

    li::before {
      position: absolute;
      width: 40px;
      height: 40px;
      right: 90px;
      top: -30px;
      content: "" counter(list-counter);

      font-weight: normal;
      font-size: 280px;
      line-height: 280px;
      color: $basic_gray;

      z-index: -1;
    }
  }

  .explanation__description {
    width: 100%;
    margin-left: 0;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px 0 0 0;

    font-size: 16px;
    line-height: 24px;

    &::before {
      position: absolute;
      top: 10px;
      content: "";
      width: 80px;
      height: 80px;

      background-color: $basic_green;
      z-index: 1;
    }
  }

  .explanation__description--folia::after,
  .explanation__description--water::after,
  .explanation__description--eat::after,
  .explanation__description--time::after {
    top: 25px;
    left: 15px;
    width: 60px;
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .explanation {
    width: 1220px;
    margin: 0 auto;

    border-bottom: none;

    h2 {
      margin-top: 52px;
    }
  }

  .explanation__list {
    display: grid;
    grid-template-columns: 230px 246px 248px 250px;
    grid-template-rows: auto;

    width: 100%;
    margin: 0 auto;

    p {
      margin-top: 106px;
      width: 245px;
    }
  }
}
