.social__list {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 30px;

  padding: 20px 0;
  margin: 0;

  list-style: none;
}

@media (max-width: $mobile-width-only) {
  .social__list {
    display: grid;
    grid-template-columns: auto 20px auto;
    grid-template-rows: 1fr;

    padding: 19px 0;
    text-align: center;

    width: 100%;
    margin: 0 auto;

    border-top: 1px solid $special_gray-3;
    border-bottom: 1px solid $special_gray-3;
  }

  .social__item svg {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    margin: auto 0;
  }

  .social__list {
    margin: 0 auto;
    text-align: center;
    border: none;
  }

  .social__item svg {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .social__item svg {
    width: 23px;
    height: 23px;
  }
}
