.main-nav__list {
  position: relative;
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;

  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item {
  position: relative;

  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic_black;

  &:last-child {
    padding-right: 0;
  }
}

.main-nav__item a {
  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-1500px);
  }

  20% {
    transform: translateY(-1000px);
  }

  40% {
    transform: translateY(-700px);
  }

  60% {
    transform: translateY(-500px);
  }

  80% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__list {
    display: none;
  }

  .checkbox1:checked ~ ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;

    padding: 0;
    margin-bottom: 10px;
    animation: bounce 0.5s;
  }

  .main-nav__list li {
    text-align: center;
    width: 100%;
    padding: 22px 0 24px 0;
    margin: 0;

    font-size: 20px;
    line-height: 20px;
    font-weight: bold;

    border-top: 1px solid $special_gray;

    &:last-child {
      padding-bottom: 13px;
    }
  }

  .main-nav__item--active::after {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    margin-top: 42px;
  }

  .main-nav__item {
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 38px;

    font-size: 18px;
    line-height: 24px;

    &:nth-child(2) {
      margin-left: 33px;
    }
  }

  .main-nav__item--active a::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $basic_green;
    border-radius: 100px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    margin-top: 48px;
  }

  .main-nav__item {
    position: relative;
    margin-left: 33px;

    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: $basic_black;

    &:nth-child(2) {
      margin-left: 35px;
    }
  }

  .main-nav__item--active a::after {
    top: 35px;
  }

  .page-header--index .main-nav__item--active::after {
    position: absolute;
    top: 36px;
    left: 0;
    content: "";

    width: 100%;
    height: 2px;

    background-color: $basic_white;
    border-radius: 100px;
  }
}

// Гамбургер

.main-nav__toggle {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.hamburger {
  position: absolute;
  right: 22px;
  top: -41px;

  margin: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

@media (max-width: $mobile-width-only) {
  .hamburger {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .hamburger {
    display: none;
  }
}

.hamburger .bar {
  display: block;
  padding: 0;
  width: 20px;
  height: 2px;
  background-color: $basic_black;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 9px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
  top: 9px;
}

.hamburger4 .bar5 {
  bottom: 0;
}

.hamburger4 .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
  width: 1px;
  transform: rotate(90deg);
  left: 13.5px;
}

.hamburger4 .bar3 {
  width: 1px;
  left: 13.5px;
}

.checkbox1:checked + label > .hamburger1 > .bar1 {
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 28px;
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 28px;
}
