.nutrition__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $basic_white;
}

.nutrition__lead {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $basic_white;
}

.nutrition {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;

  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: $mobile-width-only) {
  .nutrition {
    height: 478px;
    margin: 0 auto;

    background-image: url("../../img/index-background-mobile@1x.jpg");
    background-position: top;
    background-size: 320px 305px;
    background-repeat: no-repeat;

    img {
      margin-bottom: -2px;
      padding: 0;
    }

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 128%;
      background: linear-gradient(to top, $basic_white 50%, #65a93c 50%);
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .nutrition {
      background-image: url("../../img/index-background-mobile@2x.jpg");
    }
  }

  .nutrition__title {
    max-width: 300px;
    padding-top: 26px;
    margin: 0 auto 0 auto;
  }

  .nutrition__lead {
    margin: 27px 0 27px -1px;
  }

  .nutrition__button {
    max-width: 280px;
    margin: 0 auto;

    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: $tablet-width) {
  .nutrition {
    padding: 37px 140px 518px 88px;
    margin: 0 auto;
    width: 709px;
  }

  .nutrition__title {
    width: 414px;
    margin: 0;
    margin-bottom: 41px;

    text-align: left;
    font-size: 60px;
    line-height: 100%;
    color: $basic_black;
  }

  .nutrition__lead {
    padding: 0 0 50px 0;
    margin: 0;

    font-size: 20px;
    line-height: 100%;
    color: $basic_black;
    text-align: left;
  }

  .nutrition img {
    position: absolute;
    top: 238px;
    left: -2px;

    width: 709px;
    height: 609px;

    z-index: 2;
  }

  .nutrition__button {
    position: relative;
    left: -5px;
    z-index: 2;
    width: 244px;
    min-height: 54px;
    padding: 17px 20px;
    margin: 0;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition {
    height: 300px;
    width: 100%;
    padding: 0 0 554px 0;
    background: linear-gradient(to right, $basic_white 50%, #65a93c 50%);
  }

  .nutrition__background {
    position: absolute;
    z-index: 1;
    top: -142px;
    right: 0;
    content: "";
    width: 50%;
    height: 696px;

    background-image: url("../../img/index-background-desktop@1x.jpg");
    background-position: right;
    background-size: auto auto;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .nutrition__background::after {
      background-image: url("../../img/index-background-desktop@2x.jpg");
    }
  }

  .nutrition__wrapper {
    width: 1220px;
    padding: 84px 100px 0 80px;
    margin: 0 auto;
  }

  .nutrition img {
    position: absolute;
    top: 2px;
    left: 38.9%;

    width: 552px;
    height: 499px;
  }

  .nutrition__lead {
    max-width: 290px;
    padding-bottom: 52px;
  }

  .nutrition__button {
    min-height: 54px;
    left: 0;
  }
}
