// Вьюпорты

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

.nutrition {
  position: relative;

  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
  min-width: 320px; 

  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: $mobile-width-only) {
  .nutrition {
    height: 480px;
    margin: 0 auto;

    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .nutrition {
      background-image: url("img/index-background-mobile@2x.jpg");
      background-size: 640px auto;
    }
  } 

  .nutrition__title {
    max-width: 300px;
    padding-top: 28px;
    margin: 0 auto 0 auto;
  }

  .nutrition__lead {
    margin: 26px 0;
  }

  .nutrition__button {
    max-width: 280px;
    margin: 0 auto;
    padding: 11px 10px 10px 10px;
  }
}

@media (min-width: $tablet-width) {
  .nutrition {
    padding: 37px 140px 528px 87px;
    margin: 0 auto;
    width: 709px;

    a {
      height: 52px;
    }
  }

  .nutrition__title {
    width: 414px;
    margin: 0;
    margin-bottom: 41px;

    text-align: left;
    font-size: 60px;
    line-height: 100%;
    color: #000000;
  }

  .nutrition__lead {
    padding: 0 0 50px 0;
    margin: 0;

    font-size: 20px;
    line-height: 100%;
    color: #000000;
    text-align: left;
  }

  .nutrition img {
    position: absolute;
    top: 236px;
    left: -2px;

    width: 709px;
    height: 609px;

    z-index: -1;
  }

  .nutrition__button {
    width: 240px;
    padding: 17px 10px;
    margin: 0;
    
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition {
    padding: 84px 100px 250px 90px;
    width: 100%;
  }

  .nutrition__wrapper {
    padding: 0 100px;
  } 

  .nutrition img {
    position: absolute;
    top: 0;
    left: 39%;

    width: 552px;
    height: 499px;
  } 
}