// Вьюпорты

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

.nutrition {
	position: relative;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1440px;
	min-width: 320px;	
	text-align: center;

	background-size: contain;
	background-repeat: no-repeat;
}

@media (max-width: $mobile-width-only) {
	.nutrition {
		margin: 0 auto;

		background-image: url("../img/index-background-mobile@1x.jpg");
		background-position: top;
		background-size: contain;
		background-repeat: no-repeat;

		border: 1px solid red;    
	}

	.nutrition__title {
		max-width: 300px;
		margin: 60px auto 0 auto;
	}

	.nutrition__button {
		max-width: 280px;
		margin: 0 auto;
	}
}

@media (min-width: $tablet-width) {
	.nutrition {
		padding: 60px 140px 550px 140px;
	}

	.nutrition__title {
		width: 414px;
		margin: 40px 0;

		text-align: left;
		font-size: 60px;
		line-height: 100%;
		color: #000000;
	}

	.nutrition__lead {
		padding: 0 0 50px 0;
		margin: 0;

		font-size: 20px;
		line-height: 100%;
		color: #000000;
		text-align: left;
	}

	.nutrition img {
		position: absolute;
		top: 32%;
		left: 10%;

		width: 709px;
		height: 609px;

		z-index: -1;
	}

	.nutrition__button {
		width: 244px;
		padding: 14px 26px;

		font-size: 20px;
	}
}

@media (min-width: $desktop-width) {
	.nutrition {
		padding: 100px 100px 250px 100px;
	}

	.nutrition__wrapper {
		padding: 0 100px;
	}	

	.nutrition img {
		position: absolute;
		top: 0;
		left: 35%;
	}	
}