.page-header__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: auto;

  padding: 0 20px;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
}

.page-header__logo-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    padding: 10px 0 0 0;
    border-bottom: 1px solid $special_gray;
    overflow: hidden;
  }

  .page-header__logo {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: grid;
    grid-template-columns: 174px auto;
    grid-template-rows: auto;

    padding: 0 30px;
  }

  .page-header__logo img {
    margin: 25px 0 20px 0;
    width: 174px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    margin: 0 auto;
    padding: 0;
  }

  .page-header__logo img {
    margin-top: 30px;
    width: 204px;
  }

  .page-header--index {
    background: linear-gradient(to right, $basic_white 50%, #65a93c 50%);

    a {
      color: $basic_white;
    }
  }
}
