.page-footer {
  background-color: $basic_gray;

  a:active {
    opacity: 0.3;
  }

  svg {
    fill: #444444;

    &:hover,
    &:focus {
      fill: $basic_green;
    }
  }
}

.page-footer__wrapper {
  max-width: 1220px;
  min-width: 320px;
  padding: 20px 20px;
  margin: 0 auto;
}

.page-footer__copyright-logo {
  position: relative;
}

.page-footer__academy-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.page-footer__copyright {
  font-family: $additional_font;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

@media (max-width: $mobile-width-only) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    padding: 20px 20px;
    margin: 0 auto;
  }

  .page-footer__logo {
    width: 128px;
    margin: 0 auto;
    padding: 20px 0 24px 0;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 0 0 0;
  }

  .page-footer__copyright-logo {
    position: relative;
    right: -10px;
    width: 45px;
    height: 40px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 150px;

    margin: 0 auto;
    padding: 0 30px;
  }

  .page-footer__logo {
    display: block;
    width: 130px;
    padding: 20px 0;
    margin: auto 0;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-bottom: 9px;
    }
  }

  .page-footer__academy-logo {
    position: relative;
    top: 2px;
    width: 45px;
    height: 40px;
    margin-right: -8px;
    margin-left: 14px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    margin: 0 auto;
    padding: 0;
  }

  .page-footer__logo {
    padding-top: 30px;
  }

  .page-footer__copyright {
    padding-top: 14px;
    margin-right: -1px;
  }
}
