.header-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: auto;

  padding: 0 20px;
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
}

.page-header__logo-link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (max-width: $mobile-width-only) {
  .header-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    padding: 10px 0;
    border-bottom: 1px solid $special_gray;
  }

  .index--content {
    overflow: hidden;
  }

  .page-header__logo {
    margin-left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .header-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;

    padding: 0 30px;
  }

  .page-header__logo img {
    margin: 25px 0 20px 0;
    width: 174px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .header-wrapper {
    margin: 0 auto;
  }

  .page-header__logo img {
    margin-top: 52px;
    width: 204px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;

    margin-top: 70px;
  }

  .index-page {
    background: linear-gradient(to right, $basic_white 50%, #65a93c 50%);

    a {
      color: $basic_white;
    }
  }
}
