.product-card__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;

  color: $special_dark-gray-2;
}

.product-card__composition {
  font-family: $additional_font;
  font-size: 12px;
  line-height: 16px;

  color: $special_dark-gray;
}

.product-card__button--gray {
  height: 40px;
  padding: 11px 0 11px 0;

  color: $basic_black;
  background-color: $basic_gray;

  &:hover,
  &:focus {
    background-color: $special_dark-gray-3;
    color: $basic_black;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $mobile-width-only) {
  .product-card {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 60px 80px auto;

    width: 320px;
    padding: 0 20px 23px 20px;
    margin: 0;

    border-bottom: 1px solid $special_dark-gray-3;
  }

  .product-card img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .product-card__title {
    grid-column: 1 / 2;
    grid-row: 2 / 1;

    width: 100px;
    margin: 21px 0 0 0;
  }

  .product-card__composition {
    grid-column: 2 / 2;
    grid-row: 2 / 2;

    margin: 0;
    margin-left: -2px;
    padding-top: 12px;

    tr {
      display: flex;
      justify-content: space-between;
    }

    td {
      margin: 0;
      padding: 0;
    }
  }

  .product-card__button {
    grid-column: 1 / -1;
    grid-row: 3 / 3;

    width: auto;
    max-height: 40px;
    margin-top: 5px;
    padding: 9px 0 9px 0;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 324px;
    height: 512px;
    padding: 0 38px 38px 38px;
    margin: 0;

    background: linear-gradient(to top, $basic_gray 84%, $basic_white 30%);
    overflow: hidden;

    &:nth-child(2n) {
      h3 {
        margin-top: -8px;
      }

      img {
        height: 212px;
        margin-right: 2px;
      }
    }

    img {
      position: relative;
      display: block;
      width: auto;
      height: 100%;
    }
  }

  .product-card__title {
    width: 170px;
    margin: 0 auto;
    margin-top: 4px;
    padding: 30px 20px 0 20px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;

    span:nth-child(2) {
      margin-left: 8px;
    }
  }

  .product-card__composition {
    border-collapse: collapse;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 16px;

    td {
      padding-top: 8px;
      padding-bottom: 7px;

      border-bottom: 1px solid $special_gray-1;
    }

    td:nth-child(2n) {
      text-align: right;
    }
  }

  .product-card__button {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 15px;
  }
}

@media (min-width: 1220px) {
  .product-card {
    height: 540px;
    max-width: 245px;
    padding: 10px 38px 40px 38px;
    margin: 0;

    background: linear-gradient(to top, $basic_gray 80%, $basic_white 30%);

    h3 {
      margin-top: 10px;
    }

    &:nth-child(2n) {
      h3 {
        margin-top: 4px;
      }

      img {
        margin: 0;
        height: 210px;
      }
    }
  }

  .product-card__composition {
    margin: 14px 0 14px 0;
  }

  .product-card__button {
    margin-top: 20px;
    width: 168px;
  }

  .product-card__button--gray {
    width: 170px;
    margin-top: 16px;
  }
}
