@media (max-width: $mobile-width-only) {
  .product-card {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 60px 80px auto;

    width: 320px;
    padding: 0 20px 24px 20px;
    margin: 0;

    border-bottom: 1px solid $special_gray-3;
  }

  .product-card img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .product-card__title {
    grid-column: 1 / 2;
    grid-row: 2 / 1;

    width: 100px;
    margin: 22px 0 0 0;
  }

  .product-card__composition {
    grid-column: 2 / 2;
    grid-row: 2 / 2;

    margin: 0;
    padding-top: 13px;

    tr {
      display: flex;
      justify-content: space-between;
    }

    td {
      margin: 0;
      padding: 0;
    }
  }

  .product-card__button {
    grid-column: 1 / -1;
    grid-row: 3 / 3;

    width: auto;
    max-height: 40px;
    margin-top: 5px;
    padding: 12px 0 12px 0;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 324px;
    height: 511px;
    padding: 0 38px 30px 38px;

    background: linear-gradient(to top, $basic_gray 83%, $basic_white 30%);

    h3 {
      width: 170px;
      margin: 0 auto;
      padding: 32px 20px 0 20px;

      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    img {
      position: relative;
      display: block;
      width: auto;
      height: 100%;
      margin: 0 auto;
    }
  }

  .product-card__composition {
    border-collapse: collapse;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 16px;

    td {
      padding-top: 8px;
      padding-bottom: 7px;

      border-bottom: 1px solid $special_gray-1;
    }

    td:nth-child(2n) {
      text-align: right;
    }
  }

  .product-card__button {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 13px;
  }
}

@media (min-width: 1130px) {
  .product-card {
    max-width: 245px;
    padding: 10px 38px 24px 38px;
    margin: 0;

    background: linear-gradient(to top, $basic_gray 80%, $basic_white 30%);

    img {
      padding-top: 10px;
    }
  }

  .product-card__composition {
    margin: 14px 0 14px 0;
  }

  .product-card__button {
    margin-bottom: 0;
  }
}
