.program {
  position: relative;
  min-width: 320px;
  max-width: 1220px;
  padding: 0;
  margin: 0 auto;

  h2 {
    padding: 0 20px;
    margin: 27px 0 17px 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
  }

  fieldset:not(.program-form__fieldset-weigth) {
    border: none;
  }
}

.program__lead {
  width: 280px;
  padding: 0 20px;
  margin: 36px 20px 15px 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.program__legend {
  font-family: $additional_font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}


@media (max-width: $mobile-width-only) {
  .program {
    small {
      position: absolute;
      bottom: -37px;
      left: 0;
      width: 100%;
      margin: 0 auto;
    }

    button {
      margin: 22px auto 70px auto;
      width: 280px;
    }
  }
}

@media (min-width: $tablet-width) {
  .program {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

    width: auto;
    padding: 0 20px;

    h2 {
      padding: 20px 0;
      margin: 18px 10px 15px 10px;

      font-size: 60px;
      line-height: 60px;
    }

    small {
      position: absolute;
      bottom: 86px;
      right: 22.8%;

      font-size: 16px;
      line-height: 16px;
    }

    button {
      width: 282px;
      height: 52px;
      margin-bottom: 66px;

      font-size: 20px;
    }
  }

  .program__lead {
    width: 323px;
    padding: 0;
    margin: 0 20px 45px 50px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 0;

    h2 {
      padding: 0 20px 0 0;
      margin: 47px 0 26px 1px;
    }

    small {
      bottom: 96px;
      right: 32%;
    }

    button {
      width: 568px;
      margin: 0 0 78px 2px;
    }
  }

  .program__lead {
    width: 323px;
    padding: 20px 0 20px 0;
    margin: 0 0 36px 0;

    font-size: 20px;
    line-height: 30px;
  }
}
