.program {
  position: relative;
  min-width: 320px;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;

  h2 {
    padding: 0;
    margin: 30px 0 14px 0;
  }
}

.program__item-title {
  position: relative;
  padding: 10px 10px 20px 0;
  margin: 0;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    top: 23px;
    left: 100%;

    width: 300%;
    height: 2px;

    background-color: $basic_green;
  }
}

.program__item-contact {
  margin: 11px 0 11px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    left: 105%;
  }
}

.program__item-comment {
  margin-bottom: 12px;

  &::after {
    left: 70%;
  }
}

.program__item-more {
  margin-top: 0;
  margin-bottom: 0;

  &::after {
    left: 80%;
  }
}

.program-form__item {
  position: relative;

  input,
  textarea {
    outline: none;
    border-color: $basic_gray;
    border-style: solid;
  }

  input:hover,
  textarea:hover {
    border-color: $special_gray-1;
  }

  input:active,
  input:focus,
  textarea:active,
  textarea:focus {
    border-color: $basic_black;
  }
}

.program__user-contacts {
  position: relative;

  svg {
    position: absolute;
    right: 16px;

    width: 20px;
    height: 20px;
  }
}

.program__user-contacts input:focus + svg {
  fill: $basic_green;
}

/* Радио батоны */

.filter-input-radio + label {
  position: relative;
  margin-left: 45px;
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -46px;
  width: 30px;
  height: 30px;
  border: 2px solid $special_gray-1;
  border-radius: 50%;

  cursor: pointer;
  opacity: 0.6;
}

.filter-input-radio + label:hover::before {
  border-color: $special_gray-3;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -38px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basic_green;
  border-color: #bababa;
}

@media (min-width: 768px) {
  .filter-input-radio + label {
    margin-left: 58px;
  }

  .filter-input-radio + label::before {
    top: -5px;
    left: -61px;
    width: 40px;
    height: 40px;
  }

  .filter-input-radio:checked + label::after {
    top: 7px;
    left: -49px;
    width: 17px;
    height: 17px;
  }
}

/* Чекбоксы */

.program__filter-option label {
  position: relative;
  margin-left: 40px;
}

.program__filter-option label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -40px;
  width: 30px;
  height: 30px;
  border: 2px solid $basic_gray;

  cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -40px;

  width: 30px;
  height: 30px;

  background-image: url("../../img/icon-tick.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .program__filter-option label {
    position: relative;
    margin-left: 60px;
  }

  .program__filter-option label::before {
    top: -3px;
    left: -60px;
    width: 40px;
    height: 40px;
  }

  .filter-input-checkbox:checked + label::before {
    top: -3px;
    left: -60px;

    width: 40px;
    height: 40px;
  }
}

@media (max-width: $mobile-width-only) {
  .program {
    small {
      position: absolute;
      bottom: -38px;
      left: 0;
      width: 100%;
      margin: 0 auto;
    }

    button {
      margin-top: 20px;
      width: 100%;
    }
  }

  .program__lead {
    width: 226px;
    padding: 20px 0 15px 0;
    margin: 0 20px 0 0;
  }

  .program-form__item {
    padding: 10px 0;
    width: 100%;

    h3 {
      width: 200px;
    }

    textarea {
      padding: 10px 10px 20px 15px;
      width: 100%;
      height: 150px;

      border: 1px solid $basic_gray;
    }

    &:last-child {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  .program-form__item-weigth {
    margin-bottom: 12px;

    border-top: 1px solid $special_gray-3;
    border-bottom: 1px solid $special_gray-3;
  }

  .program__cat-characters,
  .program__user-contacts {
    display: flex;
    align-items: center;

    label {
      flex-grow: 1;
    }

    input {
      flex-grow: 3;
      padding: 16px;
      height: 46px;
    }
  }
}

@media (min-width: $tablet-width) {
  .program {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

    width: auto;
    padding: 0 20px;

    h2 {
      padding: 10px 20px 10px 0;
      margin: 24px 10px;

      font-size: 60px;
      line-height: 60px;
    }

    small {
      position: absolute;
      bottom: 90px;
      right: 21%;

      font-size: 16px;
      line-height: 16px;
    }

    button {
      width: 282px;
      height: 52px;
      margin-bottom: 70px;

      font-size: 20px;
    }
  }

  .program-form {
    padding: 0 30px 0 50px;
  }

  .program__lead {
    width: 323px;
    padding: 0 0 32px 0;
    margin: 0 20px 0 50px;

    font-size: 20px;
    line-height: 30px;
  }

  .program-form__item {
    label,
    input,
    textarea {
      font-size: 20px;
      line-height: 30px;
    }

    textarea {
      padding: 18px 20px 20px 20px;
      margin-bottom: 26px;
      width: 100%;
      height: 174px;
    }
  }

  .program__item-title {
    padding: 40px 0 60px 0;
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      position: absolute;
      content: "";
      top: 59px;
      left: -56%;
      width: 50%;
      height: 2px;

      background-color: $basic_green;
    }

    &::after {
      top: 59px;
      left: 90%;
      height: 2px;
      width: 300%;
    }
  }

  .program__item-contact {
    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      left: 87%;
    }
  }

  .program__item-comment {
    margin-bottom: 12px;

    &::after {
      left: 35%;
    }
  }

  .program__item-more {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 46px;

    &::after {
      left: 40%;
    }
  }

  .program__cat-characters,
  .program__user-contacts {
    display: flex;
    align-items: center;

    label {
      flex-grow: 1;
    }

    input {
      flex-grow: 20;
      padding: 24px 0 24px 20px;
      margin-bottom: 6px;
      height: 46px;
    }
  }

  .program-form__item-weigth {
    height: 200px;
    padding: 30px;
    margin: 66px 0 30px 0;

    border: 1px solid $basic_gray;

    p {
      margin: 0;
      margin-bottom: 22px;
    }
  }

  .program-form__item-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-column-gap: 56px;
    grid-row-gap: 14px;
    padding: 0;
    margin-bottom: 48px;
  }

  .program__user-contacts svg {
    right: 18px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    grid-gap: 10px;

    h2 {
      padding: 10px 20px 10px 0;
      margin: 40px 0 12px 0;
    }

    small {
      right: 27%;
    }

    button {
      width: 568px;
    }
  }

  .program-form {
    padding: 0;
    margin: 0;
  }

  .program__lead {
    width: 323px;
    padding: 20px 0 20px 0;
    margin: 0 0 30px 0;

    font-size: 20px;
    line-height: 30px;
  }

  .program-form__item {
    margin-bottom: 40px;

    p {
      margin: 0;
      margin-bottom: 14px;
      padding: 0;
    }
  }

  .program__item-title {
    padding: 14px 0;
    margin: 0 0 50px 0;

    &::before {
      top: 34px;
      left: -52%;
      height: 2px;
    }

    &::after {
      top: 37px;
    }
  }

  .program__item-contact {
    margin-bottom: 54px;

    &::after {
      top: 35px;
      left: 45%;
    }
  }

  .program__user-contacts svg {
    top: 16px;
    right: 20px;
  }

  .program__item-comment {
    &::before {
      top: 35px;
    }

    &::after {
      left: 18%;
    }
  }

  .program__item-more {
    &::after {
      left: 22%;
    }
  }

  .program-form__wrapper-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-column-gap: 80px;
    margin: 0;
  }

  .program-form__item-weigth {
    padding: 30px;
    margin: 0;

    p {
      margin-bottom: 28px;
    }
  }

  .program-form__comment {
    width: 100%;
    height: 174px;
  }

  .program-form__item-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
      flex-grow: 1;
    }
  }
}
