// Вьюпорты

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Цветовая палитра

$basic_black: #000000;
$basic_white: #ffffff;
$basic_green: #68B738;
$basic_gray: #F2F2F2;
$special_gray: #EAEAEA;
$special_gray-2: #D9D9D9;
$special_dark-gray: #444444;
$special_dark-gray-2: #222222;
$status_error: #FF8282;

.programs {
	max-width: 1440px;
	min-width: 320px;
	padding: 40px 20px 20px 20px;
	margin: 0 auto;
}

.programs__item {
	position: relative;
	z-index: 1;

	width: 100%;
	padding: 20px 10%;
	margin: 0 auto 20px auto;

	background-color: $basic_gray;

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		content: "";
		position: absolute;
		top: 40px;
		left: 10%;

		width: 50px;
		height: 50px;

		border-radius: 50%;
		background-color: #68B738;

		z-index: -1;	
	}
}

.programs__slimming {
	&::after {
		content: "";
		position: absolute;
		top: 5px;
		left: 10%;

		width: 150px;
		height: 150px;

		border-radius: 50%;
		background-image: url("../img/icon-cat-slim.svg");
		background-repeat: no-repeat;
		background-size: 50px 50px;
		background-position: 0 30px;

		z-index: 1;
	}
}

.programs__fat {
	&::after {
		content: "";
		position: absolute;
		top: 5px;
		left: 6%;

		width: 150px;
		height: 150px;

		border-radius: 50%;
		background-image: url("../img/icon-cat-pro.svg");
		background-repeat: no-repeat;
		background-size: 65px 60px;
		background-position: 5px 30px;

		z-index: 1;
	}
}

.programs__button {
	position: relative;
	color: $basic_black;

	 &::after {
		position: absolute;
		content: "";
		top: 7px;
		right: -30px;

		width: 22px;
		height: 15px;
		background-image: url("../img/icon-right-arrow-long.svg");
		background-repeat: no-repeat;
	}
	
	&:hover::after,
	&:focus::after {
		position: absolute;
		content: "";
		top: 7px;
		right: -40px;

		width: 32px;
		height: 15px;
		background-image: url("../img/icon-right-arrow-verylong.svg");
	}

	&:active,
	&:active::after {
		opacity: 0.5;
	}
}

@media (max-width: $mobile-width-only) {
	.programs {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.programs__title {
		padding-left: 60px;
	}

	.programs__description {
		padding-bottom: 20px;

		border-bottom: 1px solid $special_gray-2;
	}
}

@media (min-width: $tablet-width) {
	.programs {
		padding: 30px;
	}

	.programs__item {
		min-height: 372px;
		padding:  30px 52px;
		max-width: 708px;
		margin-bottom: 30px;

		a {
			margin-left: 20px;

			font-size: 20px;
			line-height: 30px;
		}
	}

	.programs__title {
		padding: 0 22px 0 22px;

		text-align: left;
		font-size: 36px;
		line-height: 36px;
	}

	.programs__description {
		max-width: 380px;
		padding: 10px 22px 20px 22px;

		font-size: 16px;
		line-height: 24px;
	}

	.programs__item {
		&::before {
			top: 100px;
			left: 440px;

			width: 170px;
			height: 170px;
		}
	}

	.programs__slimming {
		&::after {
			content: "";
			position: absolute;
			top: 60px;
			left: 440px;

			width: 250px;
			height: 250px;

			background-size: 160px 160px;
		}
	}

	.programs__fat {
		&::after {
			top: 60px;
			left: 420px;

			width: 250px;
			height: 250px;

			background-size: 200px 200px;
		}
	}

	.programs__button {
		&::after {
			top: 10px;
			right: -40px;
			width: 22px;
			height: 15px;
		}
		
		&:hover::after,
		&:focus::after {
			top: 10px;
			right: -51px;

			width: 32px;
			height: 15px;
		}
	}	
}

@media (min-width: $desktop-width) {
	.programs {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 40px;

		margin: 0 auto;
		padding: 20px 110px;
	}

	.programs__title {
		text-align: center;
		padding: 0 22px 20px 62px;
	}

	.programs__description {
		width: auto;
		padding: 10px 22px;
	}

	.programs__item {
		margin: 0;
		
		&::before {
		top: 30px;
		left: 44px;
		width: 100px;
		height: 100px;
		}
	}

	.programs__slimming::after {
		top: -5px;
		left: 42px;

		width: 180px;
		height: 190px;

		background-size: 100px 100px;
	}

	.programs__fat {

		&::after {
			top: 0;
			left: 22px;

			width: 180px;
			height: 190px;

			background-size: 110px 110px;
		}

		h3 {
		 padding-left: 100px;
	 }
	}
}
