.programs__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;
}

.programs__description {
  font-family: $additional_font;
  font-weight: normal;
  font-size: 14px;
  line-height: 129%;
}

.programs__item a {
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;

  text-transform: uppercase;
}

.programs {
  max-width: 1220px;
  min-width: 320px;
  padding: 24px 20px 20px 20px;
  margin: 0 auto;
}

.programs__item {
  position: relative;
  z-index: 1;

  width: 100%;
  padding: 18px 20px;
  margin: 0 auto 20px auto;

  background-color: $basic_gray;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 24px;
    left: 22px;
    z-index: -1;
    content: "";

    width: 50px;
    height: 50px;

    background-color: $basic_green;
    border-radius: 50%;
  }
}

.programs__button {
  position: relative;
  color: $basic_black;

  &::after {
    position: absolute;
    content: "";
    top: 6px;
    right: -37px;

    width: 22px;
    height: 15px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    position: absolute;
    content: "";
    top: 6px;
    right: -48px;

    width: 32px;
    height: 15px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active,
  &:active::after {
    opacity: 0.5;
  }
}

@media (max-width: $mobile-width-only) {
  .programs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .programs__item {
    svg {
      position: absolute;
      top: 16px;
      left: 13px;

      width: 50px;
      height: 53px;
    }

    svg:nth-child(2) {
      top: 21px;
      width: 67px;
      height: 50px;
    }
  }

  .programs__fat h3 {
    margin-left: 40px;
  }

  .programs__description {
    margin: 0;
    margin-bottom: 16px;
    padding-top: 32px;
    padding-bottom: 22px;

    border-bottom: 1px solid $special_gray-2;
  }

  .programs__title {
    padding-left: 0;
    margin: 11px 0 0 10px;

    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .programs {
    padding: 0 30px;
    margin: 0;
  }

  .programs__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 372px;
    padding: 42px 30px 0 30px;
    width: 708px;

    margin-top: 0;
    margin-bottom: 30px;

    a {
      width: 162px;
      margin-left: 22px;
      margin-bottom: 58px;

      font-size: 20px;
      line-height: 30px;
    }

    &::before {
      top: 92px;
      left: 445px;

      width: 200px;
      height: 200px;
    }
  }

  .programs__cat-slim {
    position: absolute;
    z-index: 1;
    top: 82px;
    right: 90px;

    width: 140px;
    height: 190px;
  }

  .programs__cat-pro {
    position: absolute;
    z-index: 1;
    top: 133px;
    right: 27px;
    width: 268px;
    height: 112px;
  }

  .programs__title {
    padding: 0 22px;
    margin: 35px 0 14px 0;

    text-align: left;
    font-size: 36px;
    line-height: 36px;
  }

  .programs__description {
    max-width: 420px;
    margin-top: 0;
    margin-bottom: auto;
    padding: 10px 22px 20px 22px;

    font-size: 16px;
    line-height: 24px;
  }

  .programs__description-pro {
    max-width: 388px;
  }

  .programs__button {
    &::after {
      top: 10px;
      right: 4px;
      width: 22px;
      height: 15px;
    }

    &:hover::after,
    &:focus::after {
      top: 10px;
      right: -8px;

      width: 32px;
      height: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 80px;

    width: 1220px;
    margin: 0 auto;
    padding: 60px 0 0 0;
  }

  .programs__title {
    padding: 0 22px 0 44px;
    margin-bottom: 64px;
    text-align: center;
  }

  .programs__item {
    margin: 0;

    width: 570px;

    &::before {
      top: 46px;
      left: 50px;
      width: 100px;
      height: 100px;
    }

    p {
      max-width: 510px;
      height: auto;
      padding: 10px 22px;
    }
  }

  .programs__cat-slim {
    position: absolute;
    z-index: 1;
    top: 41px;
    left: 66px;

    width: 70px;
    height: 97px;
  }

  .programs__cat-pro {
    position: absolute;
    z-index: 1;
    top: 68px;
    left: 32px;
    width: 134px;
    height: 56px;
  }
}
