.social {
  list-style: none;
}

@media (max-width: $mobile-width-only) {
  .social {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;

    padding: 22px 0 16px 0;
    text-align: center;

    width: 100%;
    margin: 0 auto;

    border-top: 1px solid $special_gray-3;
    border-bottom: 1px solid $special_gray-3;

    li:first-child {
      margin-left: 37px;
      margin-right: -39px;
    }

    li:last-child {
      margin-left: -40px;
      margin-right: 40px;
    }
  }

  .social__item svg {
    width: 21px;
    height: 17px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    align-items: center;
    width: 220px;
    margin-top: 10px;

    border: none;

    li {
      margin-right: 26px;
    }

    li:nth-child(2) {
      margin-right: 22px;
    }
  }

  .social__item svg {
    width: 24px;
    height: 26px;
  }

  .social__item-link--vkontakte svg {
    width: 30px;
    height: 20px;
  }

  .social__item-link--facebook svg {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-top: 24px;
  }

  .social__item svg {
    width: 23px;
    height: 23px;
  }

  .social__item-link--vkontakte svg {
    width: 30px;
    height: 22px;
    margin-right: 2px;
  }

  .social__item-link--facebook svg {
    width: 28px;
    height: 27px;
  }
}
