// Файловая структура проекта

@import "variables";
@import "fonts";
@import "scaffolding";
@import "blocks/buttons";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/page-content";
@import "blocks/nutrition";
@import "blocks/programs";
@import "blocks/explanation";
@import "blocks/example";
@import "blocks/example-slider";
@import "blocks/contacts";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/product-card";
@import "blocks/catalog";
@import "blocks/additional-goods";
@import "blocks/program";
@import "blocks/program-form";
