// Цветовая палитра

$basic_black: #000000;
$basic_white: #ffffff;
$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$basic_gray: #f2f2f2;
$special_gray: #eaeaea;
$special_gray-1: #cdcdcd;
$special_gray-2: #d9d9d9;
$special_gray-3: #c0c0c0;
$special_dark-gray: #444444;
$special_dark-gray-2: #222222;
$special_dark-gray-3: #ebebeb;
$status_error: #ff8282;

// Шрифты

$basic_font: "Oswald", sans-serif;
$additional_font: "Arial", sans-serif;

// Вьюпорты

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1220px;
